<a href="/">HOME</a>
<a href="/uploader">Upload</a>
<a href="/deletefile">Delete</a>
<br><hr>
<h1>IBM Object Storage</h1>


<!doctype html>
<html>
   <body>
      {% for row in files %}
         <div style="border: 1px solid #EFEFEF;margin:10px;">
            <h3>Filename : {{row}} </h3>
            <img src="https://flaskmaha15.s3.jp-tok.cloud-object-storage.appdomain.cloud{{row}}" width="150px"></td>
         </div>
      {% endfor %}
      <script>
        window.watsonAssistantChatOptions = {
          integrationID: "16b02279-15c6-4c0c-84a0-9db2c297deb5", // The ID of this integration.
          region: "au-syd", // The region your integration is hosted in.
          serviceInstanceID: "a1357418-7a1f-4128-8a80-6395a7d3700d", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      </script>
   </body>
</html>