<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition Assistant Application</title>
</head>
<body>
    <main class="form-signin">
        <form action="{{ url_for('login')}}">
          <div class="form-floating">
              <h1 class="pink div2">Sorry for the inconvience caused.</h1><br>
          </div>
          <br>
          <div class="form-floating">
              <h3 class="red div2">You have entered the wrong credentials.</h3><br>   
          </div>   
          <button class="w-100 btn btn-lg bd-purple-500 btn-outline-warning center" type="submit">Return To Home Page</button><br><br>
          </form>
          </main>
</body>
</html>