{% extends 'base.html' %}
{% block title %}
    About
{% endblock title %}
{% block content %}
<div class="about_us">
    <h2>STUDENT</h2>
    <div class="mission">
      <span>S.SWETHA KUMARI</span>
      <p>Mission is to learn and explore more. </p>
    </div>
    <span> NICK NAME</span>
    <p>Tinystar </p>
    <span>Address</span>
    <p>NO 39a,thiruninravur ,Thiruvallur</p>
    <span>Email</span>
    <p>
     Swettythakur11213@gmail.com  
    </p>
  </div>
  
  
  </div>
    
{% endblock content %}